@if (isLoading()) {
	<mat-progress-spinner color="primary" mode="indeterminate" class="spinner" diameter="36" />
}

@if (anime$ | async; as anime) {
	<mat-card class="host" appearance="outlined">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>{{ anime.titleEnglish }}</mat-card-title>
			<mat-card-subtitle>{{ anime.titleJapanese }}</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image class="poster" [src]="anime.poster" [alt]="anime.titleEnglish" />
		<mat-card-content>
			<p class="description">
				<strong>Status:</strong> {{ animeStatus.toReadable(anime.status) }}
			</p>
			<p class="description">
				<strong>Type:</strong> {{ animeType.toReadable(anime.type) }}
			</p>
			<p class="description">
				{{ anime.synopsis }}
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button color="primary" class="button" type="button">LIKE</button>
			<button mat-button color="primary" class="button" type="button">SHARE</button>
		</mat-card-actions>
	</mat-card>
}
