@if (isLoading()) {
<mat-progress-spinner color="primary" mode="indeterminate" class="spinner" diameter="36"></mat-progress-spinner>
} @if (animes$ | async; as animes) {
<div class="table-wrapper">
	<div class="filter-bar">
		<mat-form-field>
			<mat-label>Filter by Type</mat-label>
			<mat-select [formControl]="filterTypeControl" (selectionChange)="onFilterChange()" multiple>
				@for (filter of filters; track filter) {
					<mat-option [value]="filter">{{ animeType.toReadable(filter) }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<form [formGroup]="searchForm" (submit)="onSearch()" class="search">
			<mat-form-field>
				<input
					matInput
					placeholder="Search anime"
					(input)="onEnterSearchValue()"
					formControlName="search"
					[value]="searchForm.value.search"
				/>
				<button
					type="button"
					(click)="onClearSearch()"
					mat-icon-button
					matSuffix
					[class]="isHiddenClearButton() ? 'is-hidden-clear' : ''"
				>
					<mat-icon>close</mat-icon>
				</button>
				<button type="submit" mat-icon-button matSuffix>
					<mat-icon>search</mat-icon>
				</button>
			</mat-form-field>
		</form>
	</div>
	<table mat-table matSort [dataSource]="animes.items" class="mat-elevation-z8" (matSortChange)="onSortChange($event)">
		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

		<ng-container matColumnDef="poster">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let anime">
				<img [src]="anime.poster" [alt]="anime.name" class="poster" loading="lazy" />
			</td>
		</ng-container>

		<ng-container matColumnDef="titleEnglish">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Title English</th>
			<td mat-cell *matCellDef="let anime">{{ anime.titleEnglish }}</td>
		</ng-container>

		<ng-container matColumnDef="titleJapanese">
			<th mat-header-cell *matHeaderCellDef>Title Japanese</th>
			<td mat-cell *matCellDef="let anime">{{ anime.titleJapanese }}</td>
		</ng-container>

		<ng-container matColumnDef="airedStart">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Start</th>
			<td mat-cell *matCellDef="let anime">{{ anime.aired.start | date }}</td>
		</ng-container>

		<ng-container matColumnDef="type">
			<th mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell *matCellDef="let anime">{{ animeType.toReadable(anime.type) }}</td>
		</ng-container>

		<ng-container matColumnDef="status">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
			<td mat-cell *matCellDef="let anime">{{ animeStatus.toReadable(anime.status) }}</td>
		</ng-container>
	</table>
	<mat-paginator
		class="paginator"
		[length]="animes.count"
		[pageSize]="queryParams.limit"
		[pageIndex]="queryParams.offset"
		[pageSizeOptions]="pageSizeOptions"
		(page)="onPageChange($event)"
		aria-label="Select page"
	>
	</mat-paginator>
</div>
}
